* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --header-height: 60px;
}

header{
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 33px 9%;
    box-shadow: 0 0 10px rgba(56, 56, 56, 0.1);
}
.logo{
    width: 100px;
    height: 40px;
    object-fit: cover;
} 
.nav{
    display: flex;
}
.nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.nav li{
    list-style: none;
    margin-left: 60px;
}
.log{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.log a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
}
.alert{
    color: #E28743;
}
.nav a:hover{
    border-bottom: 2px solid #E28743;
}

.container {
    margin-top: var(--header-height);
}

img {
    display: block;
    width: 100%;
}


.product-detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pd-images {
    flex: 1;
}

.pd-images img {
    border-right: 1px solid black;
}

.pd-images img:last-child {
    border-bottom: 0;
}

.pd-infos {
    flex: 1;
    position: sticky;
    top: var(--header-height);
    padding: 20px 0;
}

.pd-infos>* {
    margin: auto;
    margin-bottom: 40px;
    padding: 0 80px;
}

.pd-header {
    text-align: center;
}

.pd-header .name {
    font-size: 1.5rem;
}

.pd-header .price {
    margin: 10px 0;
}

.size select {
    width: 100%;
    margin: 5px 0 20px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

#qty{
    width: 25%;
    margin: 5px 0 20px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.size .button-action {
    display: flex;
    justify-content: right;
    align-items: center;
}

.submitAdd {
    width: 100%;
    padding: 5px 30px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    background-color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
}

.size .button-action button:first-child {
    margin-right: 20px;
}

.size .button-action button:last-child {
    color: white;
    background-color: black;
}

.size .button-action button:hover {
    color: white;
    background-color: black;
}

.size .button-action button:last-child:hover {
    color: black;
    background-color: white;
}

.pd-infos ul {
    margin-left: 15px;
}

.expand p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.expand .phap{
    padding: 3%;
    font-size: 15px;
}

/********reviewarea***********/
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer; 
}

.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1em;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}




/*********************media queries******************************/
@media(max-width:1100px){
    header{
        padding: 0;
        padding-top: 20px;
        padding-right: 2%;
    }
    .nav a{
        font-weight: 500;
    }
    .nav li{
        margin-left: 18px;
    }

    #logNav{
        width: 100px;
        height: 60px;
    }
}
@media(max-width: 790px){
    header{
        padding: 0;
        padding-top: 20px;
        padding-right: 2%;
    }
    .log a{
        font-size: 0.5em;
    }
    .nav a{
        font-size: 0.5em !important; 
        font-weight: 500 !important;
    }

    .adminlink{
        display: none;
    }
    #logNav{
        width: 100px;
        height: 50px;
    }
    .product-detail {
        display: grid;
        justify-content: center;
        align-items: flex-start;
    }
    
}




